{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="bg-light py-3">
  <div class="container">
      <div class="row">
          <div class="col-md-12 mb-0">
              <a href="{% url 'profile' %}">Your profile</a>
              <span class="mx-2 mb-0">/</span>
              <strong class="text-black">Change password</strong>
          </div>
      </div>
  </div>
</div>


<div class="site-section" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
            <div class="col-md-7">
                <h1>{% trans "Change password" %}</h1>
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" name="action">{% trans "Change password" %}</button>
                    <a href="{% url 'account_reset_password' %}">{% trans "Did you forget the password?" %}</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
