{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-wrapper">
    <!-- Sidebar -->
    <div class="sidebar-container">
    {% include 'sidebar.html' %}
    </div>
    <!-- Main content area -->
    <div class="main-content" style="padding: 20px;">
        <h2 class="h3 mb-3 text-black">Data Science</h2>
        <h4 class="h3 mb-3 text-black">
            This page is dedicated to the exploration of Machine Learning 
            and Artificial Intelligence. It aims to provide insightful resources
              in these transformative technologies.
              Here you can see implementations of various methodologies, 
              including supervised and unsupervised learning algorithms that power modern applications. 
              Explore the world of Convolutional Neural Networks, 
              which are revolutionizing image recognition and processing, 
              as well as Generative Adversarial Networks (GANs) that are pushing
               the boundaries of creativity and innovation in synthetic data generation.
            </h4>
        <!-- Image section -->
        <div class="image-container" style="display: flex; justify-content: center; align-items: center;">
            {{ plot_div|safe }}
        </div>

        <!-- Text content -->
        <div>
            <h5 class="h5 mb-3 text-black">
                The selection of appropriate data and its proper preparation are crucial for 
                the effectiveness of a machine learning model. Challenges in machine learning, 
                such as overfitting, underfitting, and insufficient or inadequate data, present 
                significant issues that can affect the accuracy and reliability of models. 
                For a model to effectively learn patterns and relationships, 
                it requires a large amount of high-quality data. If the data is insufficient, 
                incomplete, or improperly prepared, the quality of the model will be limited. 
                A lack of diversity in the data can also lead to incorrect conclusions
                and an incomplete understanding of real-world relationships, 
                which negatively impacts the model's performance.


            </h5>
        </div>
    </div>
</div>

{% endblock content %}
