{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-wrapper">
    <!-- Sidebar -->
    <div class="sidebar-container">
    {% include 'sidebar.html' %}
    </div>
    <!-- Main content area -->
    <div class="main-content" style="padding: 20px;">
        <h2 class="h3 mb-3 text-black">Data Science</h2>

        <!-- Image section -->
        <div class="image-container">
            <img src="{% static 'images/sp3D.jpg' %}" alt="Data Science" class="img-fluid mt-4">
        </div>

        <!-- Text content -->
        <div>
            <h5 class="h5 mb-3 text-black">
                The selection of appropriate data and its proper preparation are crucial for 
                the effectiveness of a machine learning model. Challenges in machine learning, 
                such as overfitting, underfitting, and insufficient or inadequate data, present 
                significant issues that can affect the accuracy and reliability of models. 
                For a model to effectively learn patterns and relationships, 
                it requires a large amount of high-quality data. If the data is insufficient, 
                incomplete, or improperly prepared, the quality of the model will be limited. 
                A lack of diversity in the data can also lead to incorrect conclusions
                and an incomplete understanding of real-world relationships, 
                which negatively impacts the model's performance.
            </h5>
        </div>
    </div>
</div>

{% endblock content %}
