<style>
    .navbar-wrapper {
        background-color: var(--background-color);
        color: var(--text-color);
        width: 100%;
        height: 50px; /* Thin navbar */
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .navbar-menu {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .navbar-menu li {
        flex-grow: 1;
        text-align: center;
    }

    .navbar-menu li a {
        display: block;
        padding: 10px;
        background-color: var(--link-bg-color);
        color: var(--link-color);
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 5px;
    }

    .navbar-menu li a:hover {
        background-color: var(--hover-bg-color);
    }
</style>

<nav class="navbar-wrapper">
    <ul class="navbar-menu">
        <li><a href="/">Home Page</a></li>
        <li><a href="{% url 'langchain_chat:chat' %}" class="chat-button">Chat - ALPHA VER.</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
</nav>
