<div id="sidebar" class="sidebar">
    <div class="sidebar-content">
        <h3>Convolutional Neural Networks (CNNs)</h3>
        <ul>
            <li><a href="{% url 'ml:prep-ksn' %}">Data preparation, exploration and augmentation</a></li>
            <li><a href="{% url 'ml:model-ksn' %}">Model Architecture</a></li>
            <li><a href="{% url 'ml:eval-ksn' %}">Evaluation and summary</a></li>
        </ul>
        
        <h3> Supervised learning - classification</h3>
        <ul>
            <li><a href="{% url 'ml:data_preparation' %}">Data preparation and exploration</a></li>
            <!-- <li><a href="{% url 'ml:notebook-svc' %}">Support Vector Classifier (SVC)</a></li> -->
            <li><a href="{% url 'ml:bayess' %}">GaussianNaiveBayes</a></li>
            <li><a href="{% url 'ml:adaboost' %}">AdaBoostClassifier</a></li>
            <li><a href="{% url 'ml:decision-tree' %}">Decision Tree Classifier</a></li>
            <li><a href="{% url 'ml:random-forest' %}">Random Forest Classifier</a></li>
            <li><a href="{% url 'ml:kneighbours' %}">K-Nearest Neighbors (KNN)</a></li>
            <li><a href="{% url 'ml:summary' %}">Summary</a></li>
        </ul>


        <h3>Supervised learning - regression</h3>
        <ul>
            <li><a href="{% url 'ml:prep-reg' %}">Data preparation and exploration</a></li>
            <li><a href="{% url 'ml:lr' %}">Linear Regression</a></li>
            <li><a href="{% url 'ml:grid' %}">Grid Search</a></li>
            <li><a href="{% url 'ml:lasso' %}">Lasso</a></li>
            <li><a href="{% url 'ml:ridge' %}">Ridge</a></li>
            <li><a href="{% url 'ml:ada-reg' %}">AdaBoost, Dec.Tree, Rand.For., KN</a></li>
            <li><a href="{% url 'ml:summary-reg' %}">Summary</a></li>
        </ul>

        <h3>Unsupervised learning</h3>
        <ul>
            <li><a href="#">KMeans, Agglo. Clustering, DBScan(TODO)</a></li>
            <li><a href="#">PCA(TODO)</a></li>
            <li><a href="#">TSNE(TODO)</a></li>
            <li><a href="#">APRIORI(TODO)</a></li>
            <li><a href="#">ISOLATION FOREST(TODO)</a></li>
            <li><a href="#">LOCAL OUTLIER FACTOR(TODO)</a></li>
        </ul>

        
        <h3>Generative Adversarial Networks (GANs)</h3>
        <ul>
            <li><a href="#">Hyperparameters and parameters(TODO)</a></li>
            <li><a href="#">Generator model(TODO)</a></li>
            <li><a href="#">Gradient Penalty Calculation(TODO)</a></li>
            <li><a href="#">Training(TODO)</a></li>
            <li><a href="#">Summary(TODO)</a></li>
        </ul>
    </div>
</div>
